/* google fonts  */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #F5F8FF;
}
/* shared styles  */
.primary-color{
  color:#4E47FF;
}
.main-color{
  color: #252432;
}
.secondary-color{
  color: rgba(0, 0, 0, 0.50);
}
.btn-primary{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4E47FF;
}

header {
  background-image: url('../Assets/Hero-bg.png');
 
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.nav-title{
  font-size: 34px;
  font-weight: 900;
  
}
.banner-container{
  text-align: center;
  padding-top: 158px;
  padding-bottom: 152px;
}
.banner-title{
  font-size: 65px;
  font-weight: 700x;
  margin-bottom: 37px;
  
  
}
.action-container{
  display: flex;
  justify-content: space-between;
  margin: 116px 150px;
  align-items: center;
  
  
}
.action-title{
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 23px;
}
.action-description{
  font-size: 24px;
  font-weight: 400px;
  margin-bottom: 23px;
}
.action-img img{
  border-radius: 48px;
}
.productive-users-container{
  text-align: center;
  background-color: rgba(78, 71, 255, 0.10);
  margin: 116px 150px;
  border-radius: 24px;
  padding: 50px 80px;
}
.productive-title{
  font-size: 38px;
  font-weight: 700;
}
.productive-info{
  display: flex;
  gap: 158px;
  justify-content: center;
  margin-top: 40px;
}
.quantity{
  font-size: 80px;
  font-weight: 700;
}
.subtitle{
  font-size: 20px;
  font-weight: 400;
  
}


